.modal {
  max-width: 504px;
  &Header {
    margin-bottom: 24px;
  }
  h3 {
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px; /* 140% */
    margin-bottom: 16px;
  }
  p {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
    color: #a1a1aa;
    margin-bottom: 32px;
  }
}
